<app-menu></app-menu>
<button type="button" class="btn btn-secondary" routerLink="/requestlist">Request list</button>
<h3>Request</h3>
<table *ngIf="request" class="table table-hover">
    <thead>
        <td>Id</td>
        <td>Description</td>
        <td>Justification</td>
        <td>Rejection Reason</td>
        <td>Delivery Mode</td>
        <td>Status</td>
        <td>Total</td>
        <td>User</td>
        <td>Actions</td>
    </thead>
    <tbody>
        <tr>
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>
            <td>{{request.justification}}</td>
            <td>{{request.rejectionReason}}</td>
            <td>{{request.deliveryMode}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total}}</td>
            <td>{{request.user.firstname}}</td>
            <td><button type="button" class="btn btn-link" (click)="review()">Review</button></td>
        </tr>
    </tbody>
</table>
<h3>Request Details</h3>
<p><a routerLink="/requestlinescreate/{{request.id}}">Add</a></p>
<table *ngIf="request" class="table table-hover">
    <thead>
        <tr>
            <td>Id</td>
            <td>Product</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Subtotal</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rl of request.requestLines">
            <td>{{rl.id}}</td>
            <td>{{rl.product.name}}</td>
            <td>{{rl.quantity}}</td>
            <td>{{rl.product.price}}</td>
            <td>{{rl.product.price*rl.quantity}}</td>
            <td><a routerLink="/requestlinesedit/{{rl.id}}/{{request.id}}">Edit</a> | <button class="btn btn-link" (click)="deleteRL(rl.id)">Delete</button></td>
        </tr>
    </tbody>
</table>