<app-menu></app-menu>
<table>
    <tr>
        <td>Id</td>
        <td>
            <input id="id" type="text" disabled size=2pt>
        </td>
    </tr>
    <tr>
        <td>Username</td>
        <td>
            <input id="username" type="text" disabled size=20pt>
        </td>
    </tr>
    <tr>
        <td>Name</td>
        <td>
            <input id="name" type="text" disabled>
        </td>
    </tr>
    <tr>
        <td>phone</td>
        <td>
            <input id="phone" type="text" disabled size=15pt>
        </td>
    </tr>
    <tr>
        <td>Email</td>
        <td>
            <input id="email" type="text" disabled size=35pt>
        </td>
    </tr>
    <tr>
        <td>Reviewer</td>
        <td>
            <input id="reviewer" type="checkbox" disabled>
        </td>
    </tr>
    <tr>
        <td>Admin</td>
        <td>
            <input id="admin" type="checkbox" disabled>
        </td>
    </tr>
</table>
<button type="button" class="btn btn-danger" onclick="del()">Delete</button>