<app-menu></app-menu>
<a routerLink="/productlist">Back to Product list</a>
<table>
    <tr>
        <td>Id</td>
        <td><input [(ngModel)]="product.id" type="number" readonly></td>
    </tr>
    <tr>
        <td>PartNbr</td>
        <td><input [(ngModel)]="product.partNbr" type="number"></td>
    </tr>
    <tr>
        <td>Name</td>
        <td><input [(ngModel)]="product.name" type="text"></td>
    </tr>
    <tr>
        <td>Price</td>
        <td><input [(ngModel)]="product.price" type="number"></td>
    </tr>
    <tr>
        <td>Unit</td>
        <td><input [(ngModel)]="product.unit" type="text"></td>
    </tr>
    <tr>
        <td>Vendor</td>
        <td><input [(ngModel)]="product.vendorId" type="text"></td>
    </tr>
</table>
<button type="button" class="btn btn-primary" (click)="save()" routerLink="/productlist">Save</button>