<button type="button" class="btn btn-secondary" routerLink="/review">Review</button>
<h3>Review</h3>
<table class="table table">
    <thead>
        <th>Id</th>
        <th>Description</th>
        <th>Rejection Reason</th>
        <th>Status</th>
        <th>Total</th>
        <th>User</th>
    </thead>
    <tbody>
        <tr>
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>
            <td>{{request.rejectionReason}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total}}</td>
            <td>{{request.user.firstname}}</td>
        </tr>
        <tr>
            <td colspan="6">
                <h3>Requestlines</h3>
            </td>
        </tr>
        <tr>
            <td class="bold">Id</td>
            <td class="bold">Product</td>
            <td class="bold">Quantity</td>
            <td class="bold">Price</td>
            <td class="bold">Subtotal</td>
        </tr>
        <tr *ngFor="let RL of request.requestLines">
            <td>{{RL.id}}</td>
            <td>{{RL.product.name}}</td>
            <td>{{RL.quantity}}</td>
            <td>{{RL.product.price}}</td>
            <td>{{RL.quantity * RL.product.price}}</td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-danger" (click)="reject()">Reject</button>
            </td>
            <td id="reject" style="display: none;">
                <input [(ngModel)]="request.rejectionReason">
                <button type="button" class="btn btn-danger" (click)="verifyreject()">Verify Reject</button>
            <td colspan="3">
                <button type="button" class="btn btn-success" (click)="approve()">Approve</button>
            </td>
        </tr>
    </tbody>
</table>