<app-menu></app-menu>
<button type="button" class="btn btn-secondary" routerLink="/requestlist">Request list</button>
<table>
    <tr>
        <h3>Create a Request</h3>
    </tr>
    <tr>
        <td>
            <input value="0" disabled>
        </td>
    </tr>
    <tr>
        <td>
            <input [(ngModel)]="request.description" placeholder="Description" size=40>
        </td>
    </tr>
    <tr>
        <td>
            <input [(ngModel)]="request.justification" placeholder="Justification" size=40>
        </td>
    </tr>
    <tr>
        <td>
            <input [(ngModel)]="request.deliveryMode" placeholder="Delivery Mode" size=20>
        </td>
    </tr>
    <tr>
        <button type="button" class="btn btn-primary" (clicked)="Create()">Save</button>
    </tr>
</table>
