<app-menu></app-menu>
<button type="button" class="btn btn-secondary" routerLink="/userlist">User list</button>
<table>
    <tr>
        <h3>Add a User</h3>
    </tr>
    <tr>
        <td>
            <input [(ngModel)]="user.id" value = 0 type="number" disabled size=2pt>
        </td>
    </tr>
    <tr>
        <td>
            <input [(ngModel)]="user.username" type="text" placeholder="Username" size=20pt>
        </td>
    </tr>
    <tr>
        <td>
            <input [(ngModel)]="user.password" type="password" placeholder="Password" size=20pt>
        </td>
    </tr>
    <tr>
        <td>
            <input [(ngModel)]="user.firstname"  type="text" placeholder="First Name">
        </td>
    </tr>
    <tr>
        <td>
            <input [(ngModel)]="user.lastname"  type="text" placeholder=" Last Name">
        </td>
    </tr>
    <tr>
        <td>
            <input [(ngModel)]="user.phone" type="text" placeholder="Phone" size=15pt>
        </td>
    </tr>
    <tr>
        <td>
            <input [(ngModel)]="user.email" type="text" placeholder="Email" size=35pt>
        </td>
    </tr>
    <tr>
        <td>
            Reviewer <input [(ngModel)]="user.isReviewer" type="checkbox">
        </td>
    </tr>
    <tr>
        <td>
            Admin <input [(ngModel)]="user.isAdmin" type="checkbox">
        </td>
    </tr>
    <tr>
        <button type="button" class="btn btn-primary" (click)="add()" routerLink="/userlist">Save</button>
    </tr>
</table>