table {
    margin-top: 10%;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
select {
    width: 150px;
}
td, tr {
    text-align: center;
}
.left {
    margin-left: 1%;
}
.right {
    margin-left: 90%;
}