<app-menu></app-menu>
<h3>Review</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Justification</th>
            <th>Rejection Reason</th>
            <th>Delivery Mode</th>
            <th>Status</th>
            <th>Total</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of requests">
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>
            <td>{{request.justification}}</td>
            <td>{{request.rejectionReason}}</td>
            <td>{{request.deliveryMode}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total}}</td>
            <td>{{request.user.firstname}}</td>
            <td><a routerLink="/review1">Review</a></td>
        </tr>
    </tbody>
</table>