<app-menu></app-menu>
<button type="button" class="btn btn-secondary" routerLink="/requestlist">Request list</button>
<table>
    <tr>
        <td colspan="2">
            <h3>Edit Request</h3>
        </td>
    </tr>
    <tr>
        <td>Id</td>
        <td>
            <input [(ngModel)]="request.id" disabled>
        </td>
    </tr>
    <tr>
        <td>Description</td>
        <td>
            <input [(ngModel)]="request.description">
        </td>
    </tr>
    <tr>
        <td>Justification</td>
        <td>
            <input [(ngModel)]="request.justification">
        </td>
    </tr>
    <tr>
        <td>Rejection Reason</td>
        <td>
            <input [(ngModel)]="request.rejectionReason" disabled placeholder="N/A">
        </td>
    </tr>
    <tr>
        <td>Delivery Mode</td>
        <td>
            <input [(ngModel)]="request.deliveryMode">
        </td>
    </tr>
    <tr>
        <td>Status</td>
        <td>
            <input [(ngModel)]="request.status" disabled>
        </td>
    </tr>
    <tr>
        <td>Total</td>
        <td>
            <input [(ngModel)]="request.total" disabled>
        </td>
    </tr>
    <tr>
        <td>User</td>
        <td>
            <input [(ngModel)]="request.user.firstname" disabled>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button" class="btn btn-primary" (click)="save()" routerLink="/requestlist">Save</button>
        </td>
    </tr>
</table>