<app-menu></app-menu>
<button type="button" class="btn btn-secondary" routerLink="/productlist">Product list</button>
<table>
    <tr>
        <td colspan="2">
            <h3>Product Details</h3>
        </td>
    </tr>
    <tr>
        <td>Id:</td>
        <td>
            <input [(ngModel)]="product.id" type=number disabled>
        </td>
    </tr>
    <tr>
        <td>PartNbr:</td>
        <td>
            <input [(ngModel)]="product.partNbr" type=number readonly>
        </td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>
            <input [(ngModel)]="product.name" type="text" readonly>
        </td>
    </tr>
    <tr>
        <td>Price:</td>
        <td>
            <input [(ngModel)]="product.price" type=number readonly>
        </td>
    </tr>
    <tr>
        <td>Unit:</td>
        <td>
            <input [(ngModel)]="product.unit" type=text readonly>
        </td>
    </tr>
    <tr>
        <td>Vendor:</td>
        <td>
            <input [(ngModel)]="product.vendor.name" type=text readonly>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button type = button class = "btn btn-danger" routerLink="/productlist">Delete</button>
            <button type = button class = "btn btn-warning" routerLink="/productedit/{{product.id}}">Edit</button>
        </td>
    </tr>
</table>